<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">

    <div class="et_pb_row et_pb_row_26">
        <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_50    et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_module et_pb_text et_pb_text_23 et_pb_bg_layout_light  et_pb_text_align_left">


                <div class="et_pb_text_inner">
                    <h3 style="text-align: center;"><span
                            style="color: #ffffff;"><strong>Contact Us</strong></span></h3>
                </div>
            </div> <!-- .et_pb_text -->
            <div
                class="et_pb_module et_pb_divider et_pb_divider_1 et_pb_divider_position_ et_pb_space">
                <div class="et_pb_divider_internal"></div>
            </div>
            <ul
                class="et_pb_module et_pb_social_media_follow et_pb_social_media_follow_1 clearfix et_pb_bg_layout_light  et_pb_text_align_center">


                <li
                    class="et_pb_social_media_follow_network_2 et_pb_social_icon et_pb_social_network_link  et-social-facebook et_pb_social_media_follow_network_2">
                    <a href="https://www.facebook.com/mauikiteandwingfest" style="background: #3b5998!important; padding: 6px 10px 0 10px; border-radius: 5px;"
                        title="Facebook" target="_blank">
                            <svg enable-background="new 0 0 56.693 56.693" fill="#fff" height="20.693px" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="20.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"/></svg>
                        </a>
                </li>
                <li
                    class="et_pb_social_media_follow_network_3 et_pb_social_icon et_pb_social_network_link  et-social-instagram et_pb_social_media_follow_network_3">
                    <a href="https://www.instagram.com/mauikiteandwingfest/"
                    style="background:#ea2c59!important; padding: 7px 10px 1px 10px; border-radius: 5px;"
                        title="Instagram" target="_blank">
                        <svg version="1.1" fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" width="20px" x="0px" y="0px" fill="#fff;"
                        viewBox="0 0 56.7 56.7" enable-background="new 0 0 56.7 56.7" xml:space="preserve">
                   <g>
                       <path fill="#fff" d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
                           c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"/>
                       <circle cx="41.5" cy="16.4" r="2.9"/>
                       <path d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
                           h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
                           s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
                           c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"/>
                   </g>
                   </svg></a>
                </li>
            </ul> <!-- .et_pb_counters -->
            <div
                class="et_pb_module et_pb_text et_pb_text_24 et_pb_bg_layout_light  et_pb_text_align_left">


                <div class="et_pb_text_inner">
                    <h4 class="x-el x-el-h4 px_-overflow-wrap-break-word px_-word-wrap-break-word px_-word-break-break-word px_-fs-20 px_-c-rgb21__21__21 px_-fw-400 px_-lh-1p25 px_-ml-0 px_-mr-0 px_-mt-0 px_-mb-20px px_-ff-_Josefin_Sans___Arial__sans-serif _mdpx_-fs-22 _lgpx_-fs-22 x-d-ux x-d-aid x-d-route"
                        style="text-align: center;" data-ux="Heading"
                        data-aid="CONTACT_INFO_BIZ_NAME_REND" data-route="businessName"><span
                            style="color: #ffffff;">Maui Kite &amp; Wing Fest</span></h4>
                    <h4 class="x-el x-el-h4 px_-overflow-wrap-break-word px_-word-wrap-break-word px_-word-break-break-word px_-fs-20 px_-c-rgb21__21__21 px_-fw-400 px_-lh-1p25 px_-ml-0 px_-mr-0 px_-mt-0 px_-mb-20px px_-ff-_Josefin_Sans___Arial__sans-serif _mdpx_-fs-22 _lgpx_-fs-22 x-d-ux x-d-aid x-d-route"
                        style="text-align: center;" data-ux="Heading"
                        data-aid="CONTACT_INFO_BIZ_NAME_REND" data-route="businessName"><span
                            style="color: #ffffff;"><a href="mailto:mauikitefest@gmail.com"
                                target="_blank"
                                rel="noopener noreferrer">mauikitefest@gmail.com</a></span></h4>
                </div>
            </div> <!-- .et_pb_text -->
        {% include mailchimp.html %}

        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->



    <div class="et_pb_row et_pb_row_4">
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_5    et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_button_module_wrapper et_pb_module et_pb_button_alignment_center">
                <a class="et_pb_button et_pb_module et_pb_button_0 et_pb_bg_layout_dark"
                    href="/schedule">EVENT SCHEDULE</a>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_6    et_pb_css_mix_blend_mode_passthrough">


            <div class="et_pb_button_module_wrapper et_pb_module et_pb_button_alignment_center">
                <a class="et_pb_button et_pb_module et_pb_button_1 et_pb_bg_layout_dark"
                    href="/register">Register to compete</a>
            </div>
        </div> <!-- .et_pb_column -->
        <div
            class="et_pb_column et_pb_column_1_3 et_pb_column_7    et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div class="et_pb_button_module_wrapper et_pb_module et_pb_button_alignment_center">
                <a class="et_pb_button et_pb_module et_pb_button_2 et_pb_bg_layout_dark"
                    href="/format">Competition Format</a>
            </div>
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->
    <div class="et_pb_row et_pb_row_5">
        <div
            class="et_pb_column et_pb_column_4_4 et_pb_column_8    et_pb_css_mix_blend_mode_passthrough et-last-child">


            <div
                class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_left">


                <div class="et_pb_text_inner">
                    <h5 class="x-el x-el-h5 px_-overflow-wrap-break-word px_-word-wrap-break-word px_-word-break-break-word px_-fs-16 px_-c-rgb247__247__247 px_-fw-400 px_-lh-1p25 px_-ml-0 px_-mr-0 px_-mt-0 px_-mb-20px px_-ff-_Josefin_Sans___Arial__sans-serif _mdpx_-fs-16 _lgpx_-fs-16 x-d-ux x-d-aid x-d-route x-rt"
                        style="text-align: center;" data-ux="Heading"
                        data-aid="FOOTER_COPYRIGHT_RENDERED" data-route="copyright"><span
                            style="color: #999999;">Copyright © 2019 Maui Kite Fest - All Rights
                            Reserved. Designed by <a href="https://thetop.rocks">The Top Rocks
                                LLC</a></span></h5>
                </div>
            </div> <!-- .et_pb_text -->
        </div> <!-- .et_pb_column -->


    </div> <!-- .et_pb_row -->




</div> <!-- .et_pb_section -->