
<nav id="top-menu-nav">
    <ul id="top-menu" class="nav">
        <li id="menu-item-1282"
            class="menu-item menu-item-type-custom menu-item-object-custom {% if page.layout == 'home' %} current-menu-item current_page_item {% endif %} menu-item-home menu-item-1282">
            <a href="/" aria-current="page">HOME</a></li>
        <li id="menu-item-930"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-930 {% if page.layout == 'results' %} current-menu-item current_page_item {% endif %}"><a
                href="/results">2022 RESULTS</a></li>
        <li id="menu-item-905"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-905 {% if page.layout == 'schedule' %} current-menu-item current_page_item {% endif %}"><a
                href="/schedule">SCHEDULE</a></li>
        <li id="menu-item-743"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-743 {% if page.layout == 'register' %} current-menu-item current_page_item {% endif %}"><a
                href="/register">REGISTER</a></li>
        <li id="menu-item-1106"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1106 {% if page.layout == 'gallery' %} current-menu-item current_page_item {% endif %}"><a
                href="/gallery">GALLERY</a></li>
        <li id="menu-item-315"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315 {% if page.layout == 'format' %} current-menu-item current_page_item {% endif %}"><a
                href="/format">FORMAT</a></li>
        <li id="menu-item-1225"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225 {% if page.layout == 'travel' %} current-menu-item current_page_item {% endif %}"><a
                href="/travel">TRAVEL</a></li>
                <li id="menu-item-1225"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225 {% if page.layout == 'woo' %} current-menu-item current_page_item {% endif %}"><a
                href="/alohawoochallenge">WOO CHALLENGE</a></li>
                <li id="menu-item-1225"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225 {% if page.layout == 'gopro' %} current-menu-item current_page_item {% endif %}"><a
                href="/gopro">GOPRO QUIK</a></li>
        <li id="menu-item-1225"
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1225 {% if page.layout == 'news' %} current-menu-item current_page_item {% endif %}"><a
            href="/news">NEWS</a></li>

    </ul>
</nav>
