---
layout: default
---

<body
	class="page-template-default page page-id-308 et_pb_button_helper_class et_fixed_nav et_show_nav et_hide_primary_logo et_hide_fixed_logo et_cover_background et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">



		<header id="main-header" data-height-onload="50">
			<div class="container clearfix et_menu_container">
				<div class="logo_container">
					<span class="logo_helper"></span>
				</div>
				<a href="/">
					<img src="/assets/img/patagonia-kite-fest-logo-black.png"
						alt="Maui Kite &amp; Wing Fest 2022" id="logo-header" />
				</a>
				<div id="et-top-navigation" data-height="50" data-fixed-height="40">

					{% include navigation.html %}




					<div id="et_mobile_nav_menu">
						<div class="mobile_nav closed">
							<span class="select_page">Select Page</span>
							<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
						</div>
					</div>
				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="../index.html">
						<input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s"
							title="Search for:" />
					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->
		<div id="et-main-area">

			<div id="main-content">



				<article id="post-308" class="post-308 page type-page status-publish hentry">


					<div class="entry-content">
						<div
							class="et_pb_section et_pb_section_0 et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>

						</div> <!-- .et_pb_section -->
						<div
							class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>



							<div class="et_pb_row">
								<div
									class="et_pb_column et_pb_column_4_4 et_pb_column_1    et_pb_css_mix_blend_mode_passthrough et-last-child">


									<div
										class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">

									</div> <!-- .et_pb_text -->
									<div
										class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_center">


										<div class="et_pb_text_inner" >
											<h3 style="color:#333!important">Carbon Offset</h3>
										</div>
									</div> <!-- .et_pb_text -->


								</div> <!-- .et_pb_column -->


							</div> <!-- .et_pb_row -->
	

							<div class="et_pb_row">
								<div
								class="et_pb_column et_pb_column_4_4 et_pb_column_2">


								<div
									class="et_pb_module et_pb_text et_pb_bg_layout_light">

									<div class="et_pb_text_inner">
									<h1>Mechanics for Carbon Offsetting </h1>

									<p>Help the Patagonia Maui Kite and Wing Fest become carbon positive!</p>
										 
									<p>We respect the ocean and care about our planet so we want to make this event as environmentally friendly as we can. We are all part of the problem, so we all need to be part of the solution.</p>
										 
									<p>To prevent a global catastrophe the world needs to become carbon neutral. Fact. It's not realistic to expect this to happen overnight, or even by 2050 so offsetting your business or personal carbon footprint is a positive step in helping the planet and putting the brakes on years of abuse. 
										If you came to our event, watch us online, or simply want to support our initiative to be carbon positive Calculate and Offset your carbon footprint at 
										www.mauikiteandwingfest.com/carbonoffset which supports StandForTrees.Org.The project protects 28,000 hectares of pristine tropical rainforest in the Amazon Basin and supports sustainable agriculture and ranching in local communities. The Project supports all 17 of the UN Sustainability Goals including #14, life under water!</p>
											
										 
									
													<p>We offer you two methods to play your part:</p>	
													<p>A: Use the simple travel calculator to offset your footprint during your stay, courtesy of our friends at <a href="https://standfortrees.org/footprint-calculator/#calculator" target="_blank">www.standfortrees.org</a></p>
												
													<p>B: Purchase a carbon backed, special addition Maui Kit and Wing Fest NFT. There are only 100 available and the process couldn't be easier. You don't need a wallet or crypto currency as Carbon Creatures (part of Stand for Trees) will hold it for you and you can pay by credit card.   
												 <a href="https://app.carbon-creatures.com/buy/patagoniamauikiteandwingfest" target="_blank">Offset My Carbon Footprint NOW!</a></p>	
												
										<br/>
										<a href="https://app.carbon-creatures.com/buy/patagoniamauikiteandwingfest" target="_blank">
											<img src="/assets/img/honu.jpg" alt="honu image" />
										</a>
										
										
									
									
									</div>
				
									
							
								</div> <!-- .et_pb_text -->
							</div> <!-- .et_pb_column -->
								

							</div>


							<div class="et_pb_bottom_inside_divider"></div>
						</div> <!-- .et_pb_section -->
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">

	





						</div> <!-- .et_pb_section -->
						<div
							class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>



							<div class="et_pb_row et_pb_row_4">
								<div
									class="et_pb_column et_pb_column_4_4 et_pb_column_4    et_pb_css_mix_blend_mode_passthrough et-last-child">


									<div
										class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_center">


										<div class="et_pb_text_inner">
											<h2><span style="color: #ffffff;">DISCIPLINES</span></h2>
										</div>
									</div> <!-- .et_pb_text -->
								</div> <!-- .et_pb_column -->


							</div> <!-- .et_pb_row -->
	
						</div> <!-- .et_pb_section -->


					</div> <!-- .entry-content -->


				</article> <!-- .et_pb_post -->

				{% include footer.html %}

			</div> <!-- #main-content -->



		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->
	{% include scripts.html %}	
</body>

</html>