---
layout: default
---

<body
	class="page-template-default page page-id-308 et_pb_button_helper_class et_fixed_nav et_show_nav et_hide_primary_logo et_hide_fixed_logo et_cover_background et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
	<div id="page-container">



		<header id="main-header" data-height-onload="50">
			<div class="container clearfix et_menu_container">
				<div class="logo_container">
					<span class="logo_helper"></span>
				</div>
				<a href="/">
					<img src="/assets/img/patagonia-kite-fest-logo-black.png"
						alt="Maui Kite &amp; Wing Fest 2022" id="logo-header" />
				</a>
				<div id="et-top-navigation" data-height="50" data-fixed-height="40">

					{% include navigation.html %}




					<div id="et_mobile_nav_menu">
						<div class="mobile_nav closed">
							<span class="select_page">Select Page</span>
							<span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
						</div>
					</div>
				</div> <!-- #et-top-navigation -->
			</div> <!-- .container -->
			<div class="et_search_outer">
				<div class="container et_search_form_container">
					<form role="search" method="get" class="et-search-form" action="../index.html">
						<input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s"
							title="Search for:" />
					</form>
					<span class="et_close_search_field"></span>
				</div>
			</div>
		</header> <!-- #main-header -->
		<div id="et-main-area">

			<div id="main-content">



				<article id="post-308" class="post-308 page type-page status-publish hentry">


					<div class="entry-content">
						<div
							class="et_pb_section et_pb_section_0 et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>

						</div> <!-- .et_pb_section -->
						<div
							class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>



							<div class="et_pb_row">
								<div
									class="et_pb_column et_pb_column_4_4 et_pb_column_1    et_pb_css_mix_blend_mode_passthrough et-last-child">


									<div
										class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_center">

									</div> <!-- .et_pb_text -->
									<div
										class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_center">


										<div class="et_pb_text_inner" >
											<h3 style="color:#333!important">FORMAT</h3>
										</div>
									</div> <!-- .et_pb_text -->


								</div> <!-- .et_pb_column -->


							</div> <!-- .et_pb_row -->
	

							<div class="et_pb_row">
								<div
								class="et_pb_column et_pb_column_4_4 et_pb_column_2">


								<div
									class="et_pb_module et_pb_text et_pb_bg_layout_light">

									<div class="et_pb_text_inner">
										<h2>Patagonia Maui Kite &amp; Wing Fest</h2>
<p><span style="color: #666666;"><strong>LOCATION</strong></span></p>
<p><span style="color: #666666;">Kanaha Beach Park, Kahului, Maui</span></p>
<p><span style="color: #666666;"><strong>DATES</strong></span></p>
<p><span style="color: #666666;">June 2nd-5th, 2022</span></p>
<p><span style="color: #666666;"><strong>OFFICIAL REGISTRATION</strong></span></p>
<p><span style="color: #666666;">1.Every competitor needs to complete registration in person on Registration night on Thursday, June 2nd. Time and Place TBC, check back soon.</span></p>
<p><span style="color: #666666;">2.Competitors should pre-register online at </span><a href="https://www.mauikitefest.com/register" target="_blank" rel="noopener">https://www.mauikitefest.com/register</a><span style="color: #666666;">. It is MANDATORY to show up in person on registration night to pick up your official jersey and sign the Participant Disclaimers Form. Riders who don&rsquo;t show up will be disqualified and will not receive a refund).</span></p>
<p><span style="color: #666666;">3.Early registration fee is $125 and ends on June 1st. The registration fee on June 2nd will be $150. There will be no late registration at the event site on June 3rd.</span></p>
<p><span style="color: #666666;">4.The Open Extreme Big Air discipline is limited to 48 riders on a first come first serve basis, pre-register online to secure your spot.</span></p>
<p><span style="color: #666666;">5.All other disciplines will be unlimited in competitors.</span></p>
<p><span style="color: #666666;"><strong>PARTICIPANT DISCLAIMER</strong></span></p>
<p><span style="color: #666666;">All athletes entering the event will have to read and sign the Participant Disclaimers form at registrations.</span></p>
<p><span style="color: #666666;"><strong>EVENT SITE</strong></span></p>
<p><span style="color: #666666;">The official event site will be in front of the old hale downwind from &ldquo;old man&rsquo;s beach&rdquo;.&nbsp;</span></p>
<p><span style="color: #666666;"><strong>BEACH CLEAN UP LED BY SURFRIDER FOUNDATION</strong></span></p>
<p><span style="color: #666666;">Encouraged for all to join, bring friends, bring family and come to help clean up our awesome beach. Trash Bags will be provided; we recommend bringing gloves. The Clean-Up will take place at 8:00 am on Friday, June 3rd.Let&acute;s all show some love and respect for our playground!</span></p>
<p><span style="color: #666666;"><strong>RIDERS MEETING</strong></span></p>
<p><span style="color: #666666;">The Mandatory Competitor&rsquo;s Meeting will be held at 9 am on June 3rd at the event site. This is where all the info will be given, the day&rsquo;s schedule will be set, and the riders will be notified when they go out on the water. First Possible start will be at 11am every day of competition.&nbsp;</span></p>
<p><span style="color: #0e101a;"><strong>COVID DISCLAIMER</strong></span></p>
<p><span style="color: #0e101a;"><strong>In light of the fact that there seems to be a resurgence of Covid on the island, we want to be careful and respectful of everyone&rsquo;s health and well-being. First and foremost, we would like to say that everyone is responsible for their own behavior. Please practice social distancing AT ALL TIMES, even though this is an outdoor event. We should be able to have fun and not be the root cause of another spread/outbreak. Let&rsquo;s all have a good time and be safe! PLEASE MAINTAIN A MINIMUM 6&rsquo; Distance between everyone as a common courtesy. THANK YOU for your cooperation and understanding.&nbsp;</strong></span></p>
<p><span style="color: #666666;"><strong>MEDIA</strong></span></p>
<ol>
<li><span style="color: #666666;">All riders must tag and mention </span><a href="https://www.instagram.com/mauikitefest/" target="_blank" rel="noopener">@MauiKiteandWingFest</a><span style="color: #666666;"> on all social posts from the event.&nbsp; To do so Please follow us on IG at </span><a href="https://www.instagram.com/mauikitefest/" target="_blank" rel="noopener">@MauiKiteandWingFest</a><span style="color: #666666;"> and like our FB Page at </span><a href="https://www.facebook.com/mauikitefest/" target="_blank" rel="noopener">Maui Kite &amp; Wing Fest</a></li>
<li><span style="color: #666666;">All riders must give photo credit to correct photographers for photos provided by the event.</span></li>
</ol>
<p><span style="color: #666666;"><strong>SAFETY AND RIGHT OF WAY</strong></span></p>
<ol>
<li><span style="color: #666666;">Safety and fair play are the most important aspects of the competition. Unsafe competitors will be disqualified. Leeward kiteboards have right of way. Therefore Windward kiteboards should not jump when a leeward kiteboard is close to them.</span></li>
<li><span style="color: #666666;">Opposite Tack: a) When two kiteboards on opposite tacks cross each other, the windward kiteboard should keep his kite high while a leeward kiteboard should keep his kite down to avoid a tangle. b) When two kiteboards are on opposite tacks, and equally upwind, the Starboard kiteboard has right of way over the port kiteboard.</span></li>
<li><span style="color: #666666;">Starboard kiteboard: should cross-upwind keeping the kite high while the port kiteboard should cross downwind keeping the kite low.</span></li>
<li><span style="color: #666666;">Transitions: a) A kiteboard changing tack should keep clear of other kiteboards on a tack. b) Kiteboards doing transition jumps should watch for kiteboards behind them before attempting a transition jump.</span></li>
<li><span style="color: #666666;">Kiteboards should stay clear of the competition area when not competing.</span></li>
<li><span style="color: #666666;">Kiteboards must not change course to obstruct another kiteboard (blocking).</span></li>
<li><span style="color: #666666;">Kiteboards shall not land jumps on the beach and shall stay clear of any natural obstructions near the competition area.</span></li>
<li><span style="color: #666666;">A kiteboard is capsized when his kite is in the water; his lines are tangled, or has lost control or has accidentally become disconnected from his kiteboard. a) If possible, a non-capsized kiteboard shall avoid a capsized kiteboard, a kiteboard that has not regained control after capsizing or jumping over the lines of a capsized kiteboard. b) A capsized kiteboard shall not take any action that hinders another kiteboard.</span></li>
<li><span style="color: #666666;">In case of dangerous action, tangle or collision, as a result of the infringement on any of the above rules will result in a warning or disqualification from the heat at the discretion of the Maui Kite Festival Contest Director or Head Judge.</span></li>
<li><span style="color: #666666;">While competing, a competitor could get assistance to re-launch his kite inside of the competition area only from a competitor competing in his/her heat. A competitor could get assistance to re-launch his kite only when the downed kite is out of the competition area. (Example when the kite drifts to the shore break).</span></li>
<li><span style="color: #666666;">In the event, if a competitor loses his kite from equipment failure, the competitor will be allowed to replace his kite during the heat only outside of the competition area. 12)The competitor has to get out from the competition area by his/her own means. If the competitor is not wearing a leash, he will not be scored from the point he loses his kite.</span></li>
</ol>
<p><span style="color: #666666;"><strong>OFFICIAL NOTICE BOARD</strong></span></p>
<ol>
<li><span style="color: #666666;">Any changes in the instructions will be posted on the Official Notice Board. All competitors have the responsibility of checking the Official Notice Board periodically for any changes.</span></li>
<li><span style="color: #666666;">Each competitor is responsible for checking his heat number. This will be posted on the Official Notice Board, at least 15 minutes before the start of the first heat.</span></li>
</ol>
<p><span style="color: #666666;"><strong>COMPETITION LYCRA VEST&nbsp;</strong></span></p>
<ol>
<li><span style="color: #666666;">Competitors are required to wear the official lycra vest during their heats. The lycra vest must be worn over the harness. Competitors should check in with the beach marshal two heats prior to competing and will receive a colour lycra vest which will identify them to the judges. Competitors not wearing the lycra vest or not wearing the lycra vest correctly during their heats will not be scored. After the competitor has completed his heat, the lycra vest must be returned to the beach marshal when returning to the beach.</span></li>
<li><span style="color: #666666;">The lycra vest should be worn over the harness at all times during the warm up periods / interviews etc.</span></li>
</ol>
<p><span style="color: #666666;"><strong>EQUIPMENT&nbsp;</strong></span></p>
<ol>
<li><span style="color: #666666;">No limitation. It is the sole responsibility of the rider to choose and use appropriate equipment for his safety and the safety of third-party.</span></li>
<li><span style="color: #666666;">The race will be split into two divisions, a wing, pen kite and kite foil fleet. No foils will be allowed in the open kite fleet.</span></li>
</ol>
<p><span style="color: #666666;"><strong>HEATS AND ELIMINATION FORMAT</strong></span></p>
<ol>
<li><span style="color: #666666;">The Contest Director and Head Judge will decide the suitability of the conditions for running heats.</span></li>
<li><span style="color: #666666;">The heats will be drawn randomly with the top 12 seeded.</span></li>
<li><span style="color: #666666;">The event seeding will be based on various big air/freestyle event results, online videos and on the committee&rsquo;s decision.</span></li>
<li><span style="color: #666666;">The Men&rsquo;s Extreme Big Air contest will be run in a 48 person ladder.</span></li>
</ol>
<p><span style="color: #666666;"><strong>RED BULL KING OF THE AIR WILDCARD</strong></span></p>
<ol>
<li><span style="color: #666666;">Should the competition be held in proper strong wind the competitor that places 1st in the Men&rsquo;s Extreme Big Air will be awarded a wildcard entry into the 2022 Red Bull King of the Air in Cape Town, South Africa.</span></li>
<li><span style="color: #666666;">The wildcard will only be given should the event be held in proper strong wind (25 Knots plus).</span></li>
<li><span style="color: #666666;">The head judge and contest director will be in charge of running the men&rsquo;s extreme big air in the strongest wind of the weekend.</span></li>
<li><span style="color: #666666;">The head judge and contest director will submit the results, event report, and the wind graph for the event period to the Red Bull King of the Air committee. The Red Bull King of the Air committee will determine if the wind during the Maui Kite Festival met the Red Bull King of the Air wildcard requirements and if the wildcard will be valid.</span></li>
</ol>
<p><span style="color: #666666;"><strong>AWARDS CEREMONIES</strong></span></p>
<p><span style="color: #666666;">Competitors who place in the top 4 are required to attend the Official Award Ceremony.</span></p>
<p><span style="color: #666666;"><strong>ADVERTISEMENT</strong></span></p>
<p><span style="color: #666666;">Competitors might be required to place, in a visible area of their equipment, two event stickers. Competitors must wear the Official COMPETITION LYCRA VEST at all times when riding during the competition period, as well as on the Podium at the Awards Ceremony</span></p>
<p><span style="color: #666666;"><strong>JUDGING &ndash; JUDGING PROCEDURE &ndash; SCORING</strong></span></p>
<ol>
<li><span style="color: #666666;">Selection of Judges: An attempt shall be made to ensure that no judge has a vested interest. Only the Maui Kite Festival Management Committee will have the power to make appointments and substitutions for the event.</span></li>
<li><span style="color: #666666;">Judging Panel Composition: Events shall have an odd number of judges panel, with 3 or 5 judges on per heat plus a head judge.</span></li>
<li><span style="color: #666666;">A competitor shall be scored while being in the designated competition area. Whether a competitor is in or out of the competition area, will be at the discretion of the Head Judge.</span></li>
<li><span style="color: #666666;">The final judging scores of each judge shall be shown only to competitors in that heat, on their request. The scores of the judges may not be appealed. No scores will be shown during the competition, and no changes to the results will be made.</span></li>
<li><span style="color: #666666;">Request&rsquo;s to see heat scores can be made to the head judge after the event has concluded for the day.</span></li>
</ol>
<p><span style="color: #666666;"><strong>JUDGING CRITERIA: EXTREME BIG AIR and OVERALL IMPRESSION:</strong></span></p>
<ol>
<li><span style="color: #666666;">Judges will look at following categories: Extreme Big Air and Overall Impression.</span></li>
<li><span style="color: #666666;">The Overall Impression of the Extreme Big Air performance scores will be determined by combining:</span></li>
<ol>
<li><span style="color: #666666;">60% Height. Go as hard and high as possible. The height in combination with extreme moves is priority, but we will also take the horizontal distance traveled in account, combined with certain powered moves</span></li>
<li><span style="color: #666666;">40% Extremity. Controlled extreme high moves. Think about extremely powered and/or extremely technical, or ultimately a combination of this as long as it is performed on a proper height</span></li>
</ol>
<li><span style="color: #666666;">No limitation in maximum number of moves/combinations attempts per heat (including crashes) or repetitions for the same jump. &ndash; Only the 3 best tricks of the whole performance will be counted and will form part of the final result.</span></li>
<li><span style="color: #666666;">Variety within your best 3 moves is a key-factor, as focus is to prize the most complete &ldquo;Extreme Big Air&rdquo; rider and will play a big part in your 4th (overall impression score)&nbsp;</span></li>
<li><span style="color: #666666;">A 4th score (unique score) for overall impression of the entire performance will be given at the end of the heat, this score will be determined by considering a combination of different factors as: technical difficulty / style / variety / execution / risk / show / innovation, this will be added to the total score (could make the difference)</span></li>
<li><span style="color: #666666;">The average of these 4 scores that weigh evenly will be the final score.</span></li>
<li><span style="color: #666666;">Tied competitors&rsquo; heat scores shall be broken in favor of the competitor with the highest single score. If the tie remains then it must be broken in favor of the 2nd highest score. In case the tie still remains it shall be broken in favor of the rider who has the higher score of Overall Impression.</span></li>
<li><span style="color: #666666;">Explanation of certain judging terms and criteria: The heats during the competition will be judged on the quality of the execution of each individual move, where the judges score every single move, but only the 3 unique highest scoring moves will count towards the final score next to the overall impression score.&nbsp;</span></li>
<li><span style="color: #666666;">Hereby an explanation of some of the terms&gt;</span></li>
</ol>
<ul>
<li><span style="color: #666666;">Grabs. A grabbed trick will be rewarded with a higher score than a non-grabbed trick on the Technical Difficulty criteria. However, the final score of each trick is directly related to the quality of the execution.</span></li>
<li><span style="color: #666666;">Power. The power during the execution of the tricks. Power will be considered as a combination of: a) Speed into and out of the tricks. b) Angle of the kite during the execution of the trick. (example: kite lower as the rider during a loop) c) Height and amplitude of the trick.</span></li>
<li><span style="color: #666666;">Risk factor is directly linked to the Power (already includes speed in and out, lines direction and amplitude &ndash; height) involved in the execution of the tricks, but also to the commitment of the competitor, technical and physical challenge during the execution, duration of the critical moment, amount and quality (lines direction) of the air in the trick, and energy on the execution.</span></li>
<li><span style="color: #666666;">Variety. The variety of the best 3 tricks completed during the heat is considered for the final overall impression score.</span></li>
<li><span style="color: #666666;">Height. Height of the trick completed during the heat. This aspect will exponentially come into consideration as the wind conditions increase, but only when the height is achieved along risk factor and technical difficulty.</span></li>
<li><span style="color: #666666;">Smoothness. Smoothness and fluidity during the execution of tricks completed during the heat, between different tricks in a combo and on landings.</span></li>
<li><span style="color: #666666;">Style. The personal flamboyance and attitude of the competitor when executing a trick.</span></li>
<li><span style="color: #666666;">Innovation. Tricks that have never been landed in competition before.</span></li>
</ul>
<p><span style="color: #666666;"><strong>OTHER JUDGING ASPECTS</strong></span></p>
<ol>
<li><span style="color: #666666;">Any handle pass that is finished by pulling the leash to get the bar, will be considered a crash.</span></li>
<li><span style="color: #666666;">The chicken loop is considered as part of the bar. Grabbing the chicken loop when passing the bar still gives credit to the trick, although, won&rsquo;t be considered as a clear pass.</span></li>
<li><span style="color: #666666;">If a competitor &ldquo;butt checks&rdquo; when landing the trick, but keeps momentum and has the board touching the water first followed by the &lsquo;butt&rsquo;, the judges can still give credit to the trick. (It&rsquo;s a crash if the competitors&rsquo; first land on their back and the board is completely out of the water and then ride on) It&rsquo;s at the discretion of the head judge to consider if it&rsquo;s a crash or a butt check, this also depends on the extremity of the trick and the speed at landing. Each judge will consider how much credit he/she will give to the trick. The credit given to a &lsquo;butt check&rsquo; landing is directly related to the RISK FACTOR involved in the execution of the trick. For tricks with a high degree of risk factor judges won&rsquo;t deduct (much) points for a butt check.</span></li>
<li><span style="color: #666666;">If a competitor lands a trick but did not control the kite throughout the execution of the trick resulting in the release of the handle bar and/or the crashing of the kite into water after landing the trick, the trick will be considered as a crash.</span></li>
</ol>
<p><span style="color: #666666;"><strong>START, FINISH, TRANSITIONS</strong></span></p>
<ol>
<li><span style="color: #666666;">FLAGS &ndash; Flag sequence for the heats will be explained at the riders meeting and posted on the Official Notice Board</span></li>
<li><span style="color: #666666;">HEAT AND TRANSITION DURATION &ndash; Heat and Transition Duration shall be posted at least 15 minutes before the heat in question on the Official Notice Board</span></li>
</ol>
<p><span style="color: #666666;"><strong>DISCREPANCIES</strong></span></p>
<ol>
<li><span style="color: #666666;">RE-RUNNING OF HEATS: The Head Judge has the power to re-run a heat, only when he has witnessed the complete heat and he firmly believes there is a major discrepancy in the judging scores from each individual judge. Whenever possible, the decision to re-run a heat shall be made before announcing a winner of the heat in question.</span></li>
<li><span style="color: #666666;">APPEALS AGAINST JUDGES:&nbsp; Not considered (No protest allowed) at times, errors of a special nature occur with respect to judging. The Maui Kite Festival Head Judge, along with the Contest Director, the Maui Kite Festival Committee and the Maui Kite Festival event organizer will rule on these special circumstances, case by case.</span></li>
<ol>
<li><span style="color: #666666;">To inquire about a result, see scores, or provide evidence that might change the results one must speak to the head judge only when he is free in between heats or at the end of the day, or you may speak to the race director. However if a competitors intentionally tries to create a scene and whine about their results, or has the intent to interpret the event, interfere with judging or show any signs of unsportsmen like conduct, the competitor will immediately be disqualified and kindly asked to leave the event.&nbsp;</span></li>
</ol>
</ol>
<p><span style="color: #666666;"><strong>DISCIPLINES</strong></span></p>
<ol>
<li><span style="color: #666666;">The disciplines and divisions are the following:</span></li>
<ul>
<li><span style="color: #666666;">Kite Open Racing - Mens, Womens, Grom</span></li>
<li><span style="color: #666666;">Kite Foil Racing - Mens, Womens, Grom</span></li>
<li><span style="color: #666666;">Wing Racing - Mens, Womens, Grom</span></li>
<li><span style="color: #666666;">Open Extreme Kite Big Air ( Men &amp; Women compete together and the winner receives the KOTA 2022 Wildcard)</span></li>
<li><span style="color: #666666;">Women's Big Air&nbsp;</span></li>
<li><span style="color: #666666;">Groms Big Air&nbsp;</span></li>
<li><span style="color: #666666;">Men Wing Freestyle</span></li>
<li><span style="color: #666666;">Women Wing Freestyle</span></li>
</ul>
</ol>
<ol>
<li><span style="color: #666666;">The Men&rsquo;s Extreme Big Air is the primary discipline and will have priority.</span></li>
<li><span style="color: #666666;">All other disciplines and divisions will have equal priority, the contest director and head Judge will determine the event schedule based on the conditions.</span></li>
<li><span style="color: #666666;">All big air divisions will have the same judging criteria</span></li>
</ol>

<p><span style="color: #666666;"><strong>JUDGING CRITERIA: FREESTYLE TRICKS</strong></span></p>
<p>Judges shall not assign numerical values to each trick. They will have a&nbsp; shorthand notation for taking brief notes of the moves performed on each&nbsp; tack during the heat. The judges scoring will be awarded and based on&nbsp; several categories detailed below and from this, an overall impression will&nbsp; be made of each riders performance in the heat. Judges will then&nbsp; establish a ranking within each heat to determine which riders progress to&nbsp; the next round and which riders are eliminated from competition.&nbsp;</p>
<p>1.<span style="text-decoration: underline;"><strong>Technical Difficulty</strong></span><strong>: </strong>The technical difficulty in relation with&nbsp; the risk factor of tricks landed during the heat. Tricks landed with&nbsp; more control and without letting the board touch the water are&nbsp; rewarded in this category as well as the Execution category.&nbsp;</p>
<p><strong>Risk factor </strong>= The risk factor is directly linked to the power, height, amplitude and&nbsp; technical difficulty of the jump, but also the commitment of the competitor and&nbsp; physical challenge during the execution, duration of the critical moment, and energy on&nbsp; the execution.&nbsp;</p>
<p>2. <span style="text-decoration: underline;"><strong>Execution</strong></span><strong>: </strong>A combination of smoothness, flow and fluidity&nbsp; during the tricks. The linking of tricks, quality vs quantity and&nbsp; &ldquo;wow&rdquo; factor fall in this category. Power, height and amplitude&nbsp; are also considered in this category.&nbsp;</p>
<p><strong>Height and Amplitude </strong>= The combination for height and amplitude of the tricks&nbsp; completed during the heat. As the wind conditions increase, this aspect will&nbsp; exponentially become more and more into consideration, but only when the height and&nbsp; amplitude are achieved along with risk factor and technical difficulty. <strong>Power </strong>= The power during the execution of the tricks. Power will be considered as a&nbsp; combination of speed into the trick to pop and speed out during the landing, height&nbsp; and amplitude are also considered during the trick.&nbsp;</p>
<p><strong>Smoothness/Style </strong>= The overall smoothness, fluidity and style during the execution&nbsp; and landing of tricks completed during the heat.&nbsp;</p>
<p>3.<span style="text-decoration: underline;"><strong>Variety &amp; Innovation: </strong></span>Variety of tricks completed during the&nbsp; heat on both tacks, as well as performing tricks that have never&nbsp; been landed in competition.</p>


<p><span style="color: #666666;"><strong>JUDGING CRITERIA: RACE</strong></span></p>
<p><span style="color: #666666;">The Race is about getting out on the water with everyone and riding together around a course. The race is a fun event, and safe riding is the #1 priority. We will score different classes, and you can win the race, but any sort of un-sportsmen actions will result in immediate disqualification.</span></p>
<p><span style="color: #666666;">The Race will follow standard right of way rules with the three key rules being:</span></p>
<ol>
<li><span style="color: #666666;"><strong>Port tack gives way to starboard tack</strong></span><span style="color: #666666;">, the rider going out to sea with their right arm leading the way has the right of way. If two riders coming in opposite directions are on a collision course the rider on Port (Left arm forward must give way to the rider on Starboard (right arm forward).</span></li>
<li><span style="color: #666666;"><strong>Windward gives way to leeward:</strong></span><span style="color: #666666;"> If two riders are approaching each other, and the wind is on the same side of each boat, then sailing rules are that the vessel which is to windward (the direction of the wind aka upwind) must give the right of way to the vessel which is leeward (the opposite direction of the wind aka downwind).</span></li>
<li><span style="color: #666666;">When overlapped you must not block a rider coming to round a mark if you are windward of another rider and both are on a course to round a mark you must give the leeward rider room to make it around the mark. Encroaching on the leeward rider is not allowed.</span></li>
<li><span style="color: #666666;"><strong>AVOID CONTACT</strong></span><span style="color: #666666;">. You must avoid contact with other riders, but a right-of-way boat will not be penalized under this rule unless the contact causes damage.</span></li>
<li><span style="color: #666666;"><strong>CHANGING COURSE</strong></span><span style="color: #666666;">. When you change course, you must give the other rider a chance to keep clear</span></li>
<li><span style="color: #666666;"><strong>ACQUIRING RIGHT OF WAY.</strong></span><span style="color: #666666;"> When you do something to become the right-of-way rider, you must give the other boat a chance to get away from you</span></li>
<li><span style="color: #666666;">Before your Preparatory Signal, and after you finish, don&rsquo;t interfere with boats that are about to start or are racing.</span></li>
<li><span style="color: #666666;">The course will be displayed at the official riders meeting.</span></li>
<li><span style="color: #666666;">There are no gear restrictions however there will be different classes and results will be scored by class:</span></li>
<em>
<span style="color: #666666;">The Race Classes will be: Men&rsquo;s Wing, Women&rsquo;s wing, groms wing, Men&rsquo;s kite Open, Women&rsquo;s kite Open, groms kite open, mens kite foil, womens kite foil, groms kite foil. Men, women &amp; groms will race together however they will be scored separately.</span></em>

<li><span style="color: #666666;">Start Sequence and Flags will be confirmed at the official riders meeting.</span></li>
</ol>
<p><span style="color: #666666;"><strong>CONDUCT RULES</strong></span></p>
<ol>
<span style="color: #666666;"><strong>GENERAL ATTITUDE</strong></span><span style="color: #666666;">. All riders must, by their actions &amp; general attitude, during the entire event and at all times promote the image of the sport, the sponsors of the event, and themselves in a professional manner. Any failure to do so immediately prior to, during and immediately after the event may result in a warning or disqualification of the event.</span><br/>
<span style="color: #666666;"><strong>COMPETITION AREA VIOLATIONS.</strong></span><span style="color: #666666;"> Riding in the course/competition area when not competing: Violation under this rule will incur a warning or disqualification from the event or elimination.</span><br/>
<span style="color: #666666;"><strong>INTERFERENCE PENALTY. </strong></span><span style="color: #666666;">The head judge may call an interference penalty if;</span>
<ol>
<li><span style="color: #666666;">another kiteboard changes course to obstruct another kiteboard.</span></li>
<li><span style="color: #666666;">there is deliberate unsportsmanlike action against other competitors in the heat.</span></li>
</ol>
</ol>
<p><span style="color: #666666;"><strong>INTERFERENCE PENALTY. </strong></span><span style="color: #666666;">If an interference penalty is called on a competitor, then the competitor&rsquo;s final score will be penalized with a loss of 50% of his best scoring trick. If a competitor incurs a second interference penalty during the heat, he must immediately leave the competition area, and he will on longer be scored from this point. In addition, he will lose 100% of his best scoring trick.</span></p>
<p><span style="color: #666666;"><strong>SAFETY</strong></span><span style="color: #666666;">. Riding in a manner that can be considered to be dangerous or a threat to the safety of other competitors will not be tolerated. All disputes under the rules shall be conducted on this principle. Each competitor, when in a position to do so, must render every possible assistance to a competitor in danger and assist organizers with any rescue information in the event of a rescue being needed. All details on medical and safety plan will be presented to riders during the official rider&rsquo;s meeting. Responsibility of Competitors: It is the sole responsibility of each competitor to decide whether or not to start or to continue to race and to provide for his/her safety.</span></p>
<p><span style="color: #666666;"><strong>UNSPORTSMANLIKE CONDUCT. </strong></span><span style="color: #666666;">Any members failing to conduct themselves at all times in a sportsmanlike manner and or give due regard to the authority of officials and the rights of opponents, spectators, members of the media or other persons, will be disqualified from the even. For the purpose of this rule, unsportsmanlike conduct is defined as any misconduct that is clearly abusive or detrimental to the sport but does not fall within the prohibition of any specific on-site offense contained in these rules. In addition, unsportsmanlike conduct shall include but not be limited to the giving, making, issuing, authorizing or endorsing any public statement having or designed to have an effect prejudicial or detrimental to the best interests of the Maui Kite Festival event, the organizers or the sport.</span></p>
									</div>
				
									
							
								</div> <!-- .et_pb_text -->
							</div> <!-- .et_pb_column -->
								

							</div>


							<div class="et_pb_bottom_inside_divider"></div>
						</div> <!-- .et_pb_section -->
						<div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">

	





						</div> <!-- .et_pb_section -->
						<div
							class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
							<div class="et_pb_top_inside_divider"></div>



							<div class="et_pb_row et_pb_row_4">
								<div
									class="et_pb_column et_pb_column_4_4 et_pb_column_4    et_pb_css_mix_blend_mode_passthrough et-last-child">


									<div
										class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_center">


										<div class="et_pb_text_inner">
											<h2><span style="color: #ffffff;">DISCIPLINES</span></h2>
										</div>
									</div> <!-- .et_pb_text -->
								</div> <!-- .et_pb_column -->


							</div> <!-- .et_pb_row -->
	
						</div> <!-- .et_pb_section -->


					</div> <!-- .entry-content -->


				</article> <!-- .et_pb_post -->

				{% include footer.html %}

			</div> <!-- #main-content -->



		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->
	{% include scripts.html %}	
</body>

</html>