---
layout: default
---

<body
    class="page-template-default page page-id-305 et_pb_button_helper_class et_fixed_nav et_show_nav et_hide_primary_logo et_hide_fixed_logo et_cover_background et_pb_gutter osx et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et_minified_js et_minified_css">
    <div id="page-container">
    
        {% include header.html %}
    
        <div id="et-main-area">

            <div id="main-content">



                <article id="post-305" class="post-305 page type-page status-publish hentry">


                    <div class="entry-content">
                        <div
                            class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular section_has_divider et_pb_bottom_divider">

                            

                            <div class="et_pb_bottom_inside_divider"></div>
                        </div> <!-- .et_pb_section -->
                        <div
                            class="et_pb_section et_pb_section_2 et_section_regular section_has_divider et_pb_bottom_divider et_pb_top_divider">
                            <div class="et_pb_top_inside_divider"></div>



                            <div class="et_pb_row et_pb_row_4">
                                <div
                                    class="et_pb_column et_pb_column_4_4 et_pb_column_6    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_7 et_pb_bg_layout_light  et_pb_text_align_center">


                                        <div class="et_pb_text_inner">
                                            <h2>Traveling to Maui for the event?</h2>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div
                                        class="et_pb_module et_pb_text et_pb_text_8 et_pb_bg_layout_light  et_pb_text_align_center">


                                        <div class="et_pb_text_inner">
                                            <h3>Check accommodation and car rental info here</h3>
                                        </div>
                                    </div> <!-- .et_pb_text -->
                                    <div class="et_pb_button_module_wrapper et_pb_module et_pb_button_alignment_center">
                                        <a class="et_pb_button et_pb_module et_pb_button_1 et_animated et_pb_bg_layout_dark"
                                            href="../travel/index.html">TRAVEL</a>
                                    </div>
                                </div> <!-- .et_pb_column -->


                            </div> <!-- .et_pb_row -->

                            <div class="et_pb_bottom_inside_divider"></div>
                        </div> <!-- .et_pb_section -->

                        <div class="et_pb_row et_pb_row_0">
                            <div
                                class="et_pb_column et_pb_column_4_4 et_pb_column_0    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                <div
                                    class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_center">

                                    <span class="et_pb_image_wrap"><noscript><img
                                        src="/assets/img/patagonia-kite-fest-logo-black.png"
                                        alt></noscript><img
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    alt
                                    data-src="/assets/img/patagonia-kite-fest-logo-black.png"
                                    class=" lazyload" style="width: 50%; padding-bottom: 20px;"></span>

                                    <div class="et_pb_text_inner">
                                        <h2><span>MAUI. June 2nd &#8211; JUNE 5th, 2022</span></h2>
                                    </div>
                                </div> <!-- .et_pb_text -->
                                <div
                                    class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_center">
                                    <div class="et_pb_text_inner">
                                        <br/>
                                        <br/>
                                        <h3><span style="color: #5e5e5e;">EVENT SCHEDULE</span></h3>
                                    </div>
                                </div> <!-- .et_pb_text -->
                                <div
                                    class="et_pb_module et_pb_text et_pb_bg_layout_light  et_pb_text_align_left">
                                    <div class="">
                                        <p style="text-align: center;"><strong>Thursday, June 2nd:</strong><br>
                                            Mandatory Registration &amp; Opening Party<br> 
                                            5:00-9:00 pm: Paia Bay Coffee<br/> 115 Hana Hwy, Paia, HI 96779</p>
                                        <p style="text-align: center;"><strong>Friday, June 3rd &#8211;
                                            </strong><strong>Kanaha Beach Park &#8211; </strong><em>in front of Old
                                                Canoe Hale downwind of Old Mans</em><br> 8:00 am: Mandatory skippers
                                            meeting for all disciplines<br> 8:30 am: Beach Cleanup<br> 10:00 am:
                                            Notice of Race<br> 11:00 am: First possible start for all
                                            disciplines<br> 5:00 pm: Disciplines complete for the day</p>
                                        <p style="text-align: center;"><strong>Saturday, June 4th: Kanaha Beach Park
                                                &#8211;</strong><em> in front of Old Canoe Hale downwind of Old
                                                Mans</em><br> 10:00 Mandatory skippers meeting for all
                                            disciplines<br> 11:00 am: First possible start for designated
                                            disciplines of the day<br> 5:00 pm: Disciplines complete for the day</p>
                                        <p style="text-align: center;"><strong>Sunday, June 5th: Kanaha Beach Park
                                                &#8211; </strong><em>in front of Old Canoe Hale downwind of Old
                                                Mans</em></p>
                                        <p style="text-align: center;">10:00 Mandatory skippers meeting for all
                                            disciplines<br> 11:00 am: First possible start for for designated
                                            disciplines of the day<br> 4:00 pm: Event completes<br> 4:00-6:00 pm:
                                            Luau and Awards Ceremony at Canoe Hale located by the Public<br>
                                            Restrooms at Kanaha Beach Park</p>
                                    </div>
                                </div> <!-- .et_pb_text -->
                            </div> <!-- .et_pb_column -->


                        </div> <!-- .et_pb_row -->
                       
                    
						{% include footer.html %}

					</div> <!-- .entry-content -->


 

				</article> <!-- .et_pb_post -->



			</div> <!-- #main-content -->


		</div> <!-- #et-main-area -->


	</div> <!-- #page-container -->

    {% include scripts.html %}
</body>
